
.containerAll {
  background-color: rgb(200, 231, 236);
  padding: 20px;
  border: 3px solid rgb(102, 147, 154);;
  border-radius: 10px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 10px;
}


.containerImageVideo {
  /* width: 100%; */
  height: 200px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: flex-start;
  border: 1px solid black;
  width: fit-content;

  border-radius: 5px;
  overflow: hidden;
}


.imageInContainer {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  object-fit: contain;
  /* object-fit: fill; */

  background-color: white;
}

.editIcon {
  width: 25px;
}

.inputTextEdit {
  height: 25px;
}


.editDiv {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: flex-start; */
  justify-content: space-between;
}

.editDiv .aceptarIcon {
  width: 25px;
  height: 25px;

  background-color: rgb(127, 217, 127);
  border-radius: 5px;
}

.editDiv .cancelarIcon {
  width: 25px;
  height: 25px;
  padding: 2px;

  background-color: rgb(217, 127, 136);
  border-radius: 5px;
}

.editDiv .aceptarIcon:hover, .editDiv .cancelarIcon:hover {
  border: 1px solid black;
  cursor: pointer;
}

.progressDiv {
  width: 150px;
  height: 20px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  /* gap: 10px; */

  /* text-align: center; */

  margin-left: 50px;
}

.nameAndIcon {
  display: flex;
  flex-flow: row nowrap;

  margin-left: 30px;
}

.editTetClass {
  /* background-color: aqua; */
  margin: 0;
}

.containerIconsAceptarCancelar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.progressBar {
  /* background-color: blue; */
  width: 100px;
  height: 15px;

  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
}


.progressP {
  /* padding-left: 10px; */
  margin-bottom: 2px;
}